:root{
    --color1: #222831;
    --color2: #393e46; 
    --color3: #f96d00; 
    --color4: #f2f2f2; 
}

h1{
    color: var(--color4);
    margin: 0px;
}

.home{
    width: 100vw;
    height: 100vh;
    background-image: url('./restaurant.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;

}


#odin_img{
    width: 30vw;
    height: auto;
    
}


#text_container::before{
    opacity: 0.5;

}
#img_container, #text_container{
    display: flex;
    justify-content: center;
    align-items: center;

}
#text_container{
    flex-direction: column;
    text-align: center;
    color: var(--color4);
}

